@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary: #e7eff3;
    --secondary: #c4cbcf;
    --border: #dbdcdd;
    --primaryText: #555;
}